################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/.vs/ConsoleApp1/v16
/ConsoleApp1/obj
/ConsoleApp1/bin/Debug/netcoreapp3.0
/ConsoleApp3/.vs/ConsoleApp3/v16
/ConsoleApp3/obj
/ConsoleApp3/bin/Debug/netcoreapp3.0
/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild
/AzureAPI/.vs/AzureAPI
/AzureAPI/bin
/AzureAPI/obj
/CodeFirstPlutoProject1/bin/Debug
/CodeFirstPlutoProject1/obj/Debug
/ConsoleApp3/.vs/ConsoleApp3/DesignTimeBuild
/CodeFirstPlutoProject1/.vs/CodeFirstPlutoProject1/v16
/CodeFirstApiProject/.vs/CodeFirstApiProject
/CodeFirstApiProject/bin
/CodeFirstApiProject/obj
